body {
    background: #5C8374;
}

.main-body {
    padding: 100px;
    padding-top: 150px;
    background: radial-gradient(50% 50% at 50% 50%, #F5F5F5 0%, #5C8374 100%);
}

#navbar {
    overflow: hidden;
    background: #040D12;
    display: flex;
    width: 100%;
    display: flex;
    flex-direction: row;
    position: fixed;
    top: 0;
    left: 0; 
    right: 0; 
    width: 100%;
}

#navbar-logo {
    width: 70px; 
    padding: 5px;
    padding-left: 50px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.buttons {
    color: #93B1A6;
    text-align: justify;
    font-family: "Work Sans";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1.4px;
}

#navbar-button {
    display: flex;
    width: 999px;
    padding: 7px 50px;
    justify-content: flex-end;
    align-items: center;
    gap: 112.333px;
}

#flex-container-1 {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
}

#child-container-1 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

#logo {
    margin-left: 0px;
    margin-right: 30px;

}

#welcome-text {
    color: #040D12;
    font-family: 'Montserrat', sans-serif;
    font-size: 100px;
    font-style: bold;
    font-weight: 800;
    line-height: normal;
    margin-bottom: 0;
}

#welcome-subtext {
    color: #040D12;
    font-family: 'Montserrat', sans-serif;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1.4px;
    margin-top: 0;
}

.lower-body {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding-top: 0px;
    background: #5C8374;
}

#lower-body-child-1 {
    display: flex;
    align-content: center;
    justify-content: center;
}

#lower-body-text {
    color: #DCE9E4;
    font-family: 'Montserrat', sans-serif;
    font-size: 48px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

#lower-body-text-highlight {
    width: 100%;
    height: 10px;
    background: linear-gradient(90deg, rgba(220, 233, 228, 0.00) 0%, #DCE9E4 51.77%, rgba(220, 233, 228, 0.00) 100%);
}

#lower-body-child-2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding-top: 50px;
}

.lower-body-children {
    width: 555.372px;
    height: 450px;
    flex-shrink: 0;
    border-radius: 49px;
    border: 9px solid #DCE9E4;
    background: #DCE9E4;
}

.lower-body-2 {
    display: flex;
    flex-direction: row;
}

#lower-body-child-3 {
    display: flex;
    /* flex-direction: row; */
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding-top: 50px;
}

#lower-body-child-3-text {
    color: #DCE9E4;
    font-family: 'Montserrat', sans-serif;
    font-size: 48px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

#lower-body-row {
    display: flex;
    flex-direction: row;
}