body {
    background: radial-gradient(50% 50% at 50% 50%, #F5F5F5 0%, #5C8374 100%);
}

.main-body {
    display: flex;
    width: 100%;
    height: 100%;
    /* padding: 354px 350px; */
}

#welcome-text {
    color: #040D12;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 128px;
    font-style: bold;
    font-weight: 800;
    line-height: normal;
}

#welcome-subtext {
    color: #040D12;
    font-family: 'Montserrat', sans-serif;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1.4px;
}

#flex-container-1 {
    display: flex;
    flex-direction: row;
}

#child-container-1 {
    display: flex;
    flex-direction: column;
}